@model HC_AdminUI.Models.Actividad

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<h4>Actividad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFinal" class="control-label"></label>
                <input asp-for="HoraFinal" class="form-control" />
                <span asp-validation-for="HoraFinal" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Organizador" class="control-label"></label>
                <input asp-for="Organizador" class="form-control" />
                <span asp-validation-for="Organizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expositor" class="control-label"></label>
                <input asp-for="Expositor" class="form-control" />
                <span asp-validation-for="Expositor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AgregadoPorEstudiante" />
            <input type="hidden" asp-for="DuracionMinutos" value=0/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Message != null)
{  
            <script type="text/javascript">  
                window.onload = function () {  
                    alert("@ViewBag.Message");  
                };  
            </script>  
}  
<div>
    <a asp-action="Index">Volver a la lista de actividades</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
